*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.meme-container{
  height: 100vh;
  width: 500px;
  max-width: 100%;
  margin:  0 auto;
  display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}


.meme-container form {
  text-align: center;
  display: flex;
  justify-content: space-between;
  height: 5%;
}

.meme-container form * {
  width: calc(100% / 3 - 10px);
}

.meme{
  height: 90%;
  position: relative;
  overflow: hidden;
}

.meme p {
  position: absolute;
  top: 10%;
  bottom: auto;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    font-size: 45px;
    text-shadow: 1px 1px 7px #000000c7;
    z-index: 10;
    text-align: center;
    left: 0;
    right: 0;
}

.meme .para-bottom{
  bottom: 10%;
  top: auto;
}


.meme img {
  width : 100%;
  height: 100%;
  padding-bottom: 10px;
}